################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/PuppeteerDemo/Jietu/bin/Debug/netcoreapp2.2/.local-chromium/Win64-609904/chrome-win
/src/PuppeteerDemo/Koutu/bin/Debug/netcoreapp2.2/.local-chromium
/src/PuppeteerDemo/PuppeteerDemo/bin/Debug/netcoreapp2.2/.local-chromium/Win64-609904/chrome-win
/src/PuppeteerDemo/Refresh/bin/Debug/netcoreapp2.2/.local-chromium
/src/PuppeteerDemo/Jietu/bin/Release/netcoreapp2.2/win-x86/.local-chromium
